* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    background-color: #f4f6f9;
    color: #333;
}

/* ---------- LAYOUT ---------- */
.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 520px;
    background: #ffffff;
    padding: 32px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

/* ---------- TEXT ---------- */
h1 {
    margin: 0;
    font-size: 22px;
}

.subtitle {
    color: #666;
    margin-bottom: 22px;
    font-size: 14px;
}

/* ---------- INPUT WITH ICON ---------- */
.input-group {
    position: relative;
    margin-bottom: 14px;
}

.input-group i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
    color: #9aa0a6;
    font-size: 15px;
}

.input-group input {
    width: 100%;
    padding: 12px 42px 12px 42px; /* space for both icons */
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    background: #f9f9f9;
    font-size: 14px;
}


/* Hover */
.input-group input:hover {
    border-color: #bcbcbc;
}

/* Focus */
.input-group input:focus {
    outline: none;
    background: #eff5f5;
    border-color:#bcbcbc ;
}

/* Left icon */
.left-icon {
    left: 1px;
}

/* Right icon */
.right-icon {
    right: 14px;
    cursor: pointer;
}


/* ---------- BUTTON ---------- */
button {
    width: 180px;
    margin-top: 10px;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background: #0066cc;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;
}

button:hover {
    background: #0052a3;
    transform: translateY(-1px);
}

button:active {
    transform: translateY(0);
}

/* ---------- LINKS ---------- */
a {
    color: #0066cc;
    text-decoration: none;
}

.switch {
    margin-top: 18px;
    font-size: 13px;
}
